@import'./utils/fonts';
@import'./utils/variables';
@import'./utils/normalize';
@import'./utils/paddings';
@import'./utils/placeholders';


@import'./components/header';
@import'./components/hero';
@import'./components/hero-button';
@import'./components/modal';
@import'./components/backdrop';
@import'./components/button';
@import'./components/advantage';
@import'./components/features';
@import'./components/work';
@import'./components/team';
@import'./components/footer';
@import'./components/servisces';
@import'./components/portfolio-project';
@import'./components/portfolio';
@import'./components/clients';
@import'./components/checkbox';
@import'./components/subscribe';
@import'./components/title';