.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 1;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(2);
}