// .servisces__button

.servisces__button {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 8px;

  @media screen and (min-width:768px) {
    justify-content: center;
  }
}

.servisces__text-button {
  margin-right: 8px;
}

.servisces__text-button:nth-child(5n) {
  margin-right: 0;
}

.servisces__pointer {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;

  background: #f5f4fa;
  border-radius: 4px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--accent-color);
    color: #fff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

// portfolio-project

.portfolio-project {
  @extend %flex-wrap;
  gap: 30px;

  @media screen and (min-width: 1200px) {
    justify-content: center;
  }
}

.portfolio-project__inner {

  padding: 20px 24px;
  flex-grow: 1;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;

  @media screen and (min-width: 768px) {
    padding: 20px 24px;
  }

  &--height {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding-bottom: 56px;

    }
  }
}

.portfolio-project__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-project__text {
  display: flex;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--tiele-text-color);
}

.portfolio__project-list {
  display: flex;
  flex-direction: column;

  // display: block;
  display: inline-block;
  width: 450px;

  background: #fff;

  @media screen and (min-width: 768px) {
    width: 354px;



  }

  @media screen and (min-width: 1200px) {
    width: 370px;

  }
}

.portfolio__project-item {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-decoration: none;
  color: var(--title-text-color);

  &:hover {
    outline: none;
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition-property: color, background-color, box-shadow, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.portfolio__project-overlay {
  overflow: hidden;
  position: relative;
}

.portfolio__project-overlay-hover {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__project-overlay-text {
  width: 100%;
  height: 100%;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 73px 24px;
  background: rgba(33, 150, 243, 0.9);

  @media screen and (max-width: 320px) {
    padding: 12px 12px;
    font-size: 12px;
  }

  @media screen and (min-width: 375px) {
    padding: 24px 24px;
    font-size: 18px;
  }

  @media screen and (min-width: 375px) {
    padding: 49px 24px;
  }

  @media screen and (min-width: 1200px) {
    padding: 63px 24px;
  }
}

.portfolio__project-item:hover .portfolio__project-overlay-hover {
  transform: translateY(0);
}

.servisces__text-button,
.portfolio-project {
  @extend %list;
}