  
  .social__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  
  .social__icon {
    fill:#afb1b8;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .social__link:hover .social__item,
  .social__link:focus .social__item {
     background-color: #2196f3;
  }
  
  .social__link:hover .social__icon,
  .social__link:focus .social__icon {
    fill: #fff ;
  }

  .social__icon-color {
    fill: #fff;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }