:root {
  /* гланый заголововк цвет текста */
  --main-title-color: #fff;
  /* главний цвет текста */
  --primery-text-colot: #212121;
  /* вторичний цвет текста */
  --tiele-text-color: #757575;
  /* цвет акцент навидение на ссылку */
  --accent-color: #2196F3;
  --accent-color-hover: #188CE8;
  /* цвет основной кнопки */
  --primery-button-colot: #fff;
  /* цвет логотипа вторичний хедер */
  --logo-header-color: #212121;
  /* цвет логотипа вторичний футер */
  --logo-footer-color: #fff;
  /* цвет input поля в модалке  */
  --input-color-bacgraund: #fff;

  --border-header-color: #ECECEC;

  --form-modal-icon: #212121;

  --form-modal-lable-text: #2196f3;

  --form-modal-input-textarea: rgba(117, 117, 117, 0.5);

  --imput-color-placeholder: #bebebe;

}